@import url("adaptive.css");

body {
  padding: 0px;
  margin: 0px;
}

* {
  scroll-behavior: smooth;
}

/* disable auto styles */

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

p, h1, h2, h3, h4, span, ul, li {
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* mods */

.btn {
  background: #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn button {
  font-family: 'Georgia';
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
}

/* header */

.header {
  position: absolute;
  padding-top: 60px;
  width: 100%;
  max-width: 1280px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__title-block {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
}

.header__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header__title-description {
  font-family: 'Arial';
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  display: block;
  margin-top: 10px;
  margin-left: 4px;
  color: #d5d3d3;
}

.header__item-list {
  display: flex;
  gap: 36px;
  margin-right: 40px;
  margin-top: 19px;
}

.header__item {
  font-family: 'Arial';
  font-size: 15px;
  color: #c2bebe;
  position: relative;
  cursor: pointer;
  height: 13px;
}

.header__item:hover a {
  color: #FAFAFA !important;
}

.header__item a {
  color: #c2bebe;
}

.active a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FAFAFA !important;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #F1CDB3;
  margin-top: 4px;
  position: relative;
}

/* main */

/* not-only */
.not-only {
  height: 908px;
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  display: flex;
  justify-content: space-between;
}

.not-only__content {
  max-width: 460px;
  margin-top: 343px;
  margin-bottom: 243px;
  display: flex;
  gap: 41px;
  flex-direction: column;
  margin-left: 40px;
}

.not-only__title {
  max-width: 310px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only__description {
  max-width: 460px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #bab7b7;
  margin-top: 1px;
}

.not-only__btn {
  max-width: 207px;
  height: 52px;

}

.not-only__btn:hover {
  background: #FDDCC4;
}

.not-only__puppy-img {
  max-width: 698px;
  max-height: 728px;
  align-self: flex-end;
  margin-right: 40px;
  z-index: 2;
}

/* about */

.about {
  height: 588px;
  display: flex;
  justify-content: space-between;
  gap: 120px
}

.about__pets-image {
  width: 300px;
  height: 408px;
  margin-top: 80px;
  margin-left: 215px;
}

.about__text-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
  margin-top: 94px;
  margin-right: 215px;
}

.about__title {
  font-family: 'Georgia';
  font-weight: 400;
  max-width: 370px;
  font-size: 35px;
  line-height: 128%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__description {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* our-friends */

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  background: #F6F6F6;
  padding-bottom: 100px;
}

.our-friends__title {
  max-width: 400px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 81px;
  margin-left: 3px;
}

.our-friends__inner-content {
  display: flex;
  gap: 53px;
  align-items: center;
}

.our-friends__item-list {
  display: flex;
  gap: 90px;
}

.our-friends__item {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
}

.our-friends__item:hover {
  cursor: pointer;
  background:  #FFFFFF;
}

.our-friends__item:hover .btn2 {
  background:  #F1CDB3;
}

.btn2:hover {
  background: #FDDCC4 !important;
  border-color: #FDDCC4 !important;
}

.our-friends__item-img {
  width: 270px;
  height: 270px;
}

.our-friends__item-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 3px;
}

.btn2 {
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 13px 43px;
  margin-left: 1px;
}

.our-friends__button {
  width: 261px;
  height: 52px;
  margin: 1px 0px 0px 2px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.our-friends__button:hover {
  background: #FDDCC4;
}

.arrow-symbol-right {
  transform: translateY(-2px) rotate(180deg);
}

.arrow-right, .arrow-left {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin-top: 2px;
}

.arrow-right:hover, .arrow-left:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.arrow-symbol-left {
  transform: translateY(-2px);
}

/* help */

.help {
  padding-top: 81px;
  padding-bottom: 100px;
}

.help__title {
  max-width: 310px;
  margin: 0 auto;
  padding-left: 3px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 58px;
  row-gap: 55px;
}

.help__item {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.help__item-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 30px;
}

.help__item:nth-of-type(4) .help__item-title {
  margin-top: 33px;
}


.help__item:nth-of-type(6) .help__item-title {
  margin-top: 32px;
  margin-left: 2px;
}

.help__item:nth-of-type(8) .help__item-title {
  margin-top: 34px;
}

.help__item:nth-of-type(6) .help__item-img, .help__item:nth-of-type(8) .help__item-img {
  margin-top: 3px;
}

.help__item:not(.help__item:nth-of-type(5)) {
  margin-right: 120px;
}

.help__item:nth-of-type(6) {
  margin-left: 120px;
}

.help__item-img {
  margin: 0 auto;
}

/* in-addition */

.in-addition {
  display: flex;
  background-color: #F6F6F6;
  padding-top: 82px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  gap: 31px;
}

.in-addition__donation-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}

.in-addition__title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__tooltip {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__card-container {
  display: flex;
  gap: 15px;
  max-width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
}

.in-addition__card-container:hover {
  background: #FDDCC4;
}

.card-link {
  max-width: 349px;
}

.in-addition__card-number {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__additional-info {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

/* footer */

.footer {
  display: flex;
  gap: 160px;
  align-items: center;
  background-image: url("../../assets/images/footer-gradient-background.png");
  height: 350px;
  margin-top: -18px
}

.footer__contact-info {
  margin-left: 40px;
}

.footer__dog-img {
  margin-left: 8px;
  margin-top: 39px;
}

.location-icon {
  height: 32px;
}

.footer__contact-info, .footer__location {
  display: flex;
  flex-direction: column;
  height: 234px;
  justify-content: center;
  margin-bottom: 3px;
}

.footer__contact-info {
  gap: 43px;
}

.footer__location {
  gap: 33px;
}

.footer__email, .footer__phone-number, .footer__first-location, .footer__second-location {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__contact-title, .footer__location-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.phone-number, .email-link, .first-location-address, .second-location-address {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}